<button class="mat-button" mat-button [matMenuTriggerFor]="animals">1st Mob / AACS / 1 CBCS</button>
<mat-menu #animals="matMenu">
  <button mat-menu-item (click)="goHome()"> Home </button>
  <button mat-menu-item [matMenuTriggerFor]="legacy">History / Legacy</button>
  <button mat-menu-item (click)="ShowImg()">Pictures</button>
</mat-menu>

<mat-menu #legacy="matMenu">
  <button mat-menu-item (click)="ShowPDF()">Full History</button>
  <button mat-menu-item (click)="ShowCC()">Commanders</button>
  <button mat-menu-item>Alumni</button>
</mat-menu>

<!--<<mat-menu #pictures="matMenu" (click)="ShowImg()">
tton mat-menu-item (click)="ShowImg()">Missions</button>
//<button mat-menu-item>Pacific</button>
//<button mat-menu-item>Europe</button>
//<button mat-menu-item>1952 - 2000</button>
//<button mat-menu-item>2001 - 2010</button>
//<button mat-menu-item>2011 - 2020</button>
//<button mat-menu-item>2021 - Current</button>
</mat-menu>-->
