.mat-button {
  border-radius: 4px;
  border: 1px solid #eee;
  background-color: #1965c1;
  height: 30px;
  width: 200px;
  margin: 0 8px 16px;
  padding: 16px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in-out;
  line-height: 24px;
  color: #fff;
}

.mat-button:hover {
  font-weight: 600;
  cursor: pointer;
  transform: translateY(-3px);
  box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
}
