<!-- Toolbar -->
"scripts":[

]
<div class="toolbar" role="banner">
  <img width="40" src="assets/1.svg"/>

  <span></span>
    <app-fi-menu class="fiMenu">Loading</app-fi-menu>
    <div class="spacer"></div>
    <a aria-label="FiLO Facebook" target="_blank" rel="noopener" href="https://www.facebook.com/groups/47702265987" title="Twitter">

      <svg id="twitter-logo" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
        <path d="M22.675 0h-21.35c-.732 0-1.325.593-1.325 1.325v21.351c0 .731.593 1.324 1.325 1.324h11.495v-9.294h-3.128v-3.622h3.128v-2.671c0-3.1 1.893-4.788 4.659-4.788 1.325 0 2.463.099 2.795.143v3.24l-1.918.001c-1.504 0-1.795.715-1.795 1.763v2.313h3.587l-.467 3.622h-3.12v9.293h6.116c.73 0 1.323-.593 1.323-1.325v-21.35c0-.732-.593-1.325-1.325-1.325z" fill="#fff"/></svg>
    </a>
</div>

<div class="content" role="main">

  <!-- Highlight Card -->
  <div *ngIf="!shPDF" class="card highlight-card card-small">

    <svg id="cookie" xmlns="http://www.w3.org/2000/svg" width="798.103px" height="819.623px" viewBox="0 0 798.103 819.623">
      <path fill="#30327F" stroke="#30327F" stroke-width="0.0938" stroke-miterlimit="10" d="M347.147,3.074
        c74.9-9.1,152.4,2.4,221.3,33.3c56.199,25.2,106.6,63.6,145.899,111c40.4,48.6,69.601,106.6,83.7,168.2c-26,7.4-52.8,13.9-79,21.3
        c11.1,49.9,10.3,102.3-2.2,151.8c0.8,1.3,2.5,1.1,3.8,1.6c24.801,6.5,49.601,13.3,74.4,19.7l0.5,0.7
        c-22.8,89.199-76.7,170-150.2,225.399c-53.899,41-118.3,68.2-185.3,78.5c-72.7,11.4-148.7,3.4-216.9-24.899
        c-59.1-24.2-112-62.9-153.6-111.4c-41.2-47.8-71.3-105.1-87-166.1c-0.3-1-0.4-1.9-0.2-2.9c26.2-6.6,52.3-13.8,78.5-20.7
        c-12.3-49.3-12.8-101.3-1.4-150.8c-26.2-7.9-53-14.3-79.4-21.5v-0.1c2-5.5,2.9-11.2,4.6-16.8c24.8-91,83-172,160.3-225.7
        C218.847,35.975,281.847,11.274,347.147,3.074L347.147,3.074z"/>
      <path fill="#FFFFFF" stroke="#FFFFFF" stroke-width="0.0938" stroke-miterlimit="10" d="M265.147,38.975
        c71.1-26.3,150-31.2,223.8-13.9c62.8,14.6,121.5,45.4,169.6,88.1c56.6,50.1,98.6,116.5,119,189.3c0,0.4,0,1.3,0,1.7
        c-20.8,5.5-41.5,11.2-62.4,16.5c-0.899-0.9-0.899-2.4-1.399-3.6c-17.7-60.8-53.7-116.1-101.9-157.1
        c-76.5-65.9-184.6-92.3-283.1-70.6c-64.5,14.1-124.3,48.6-169.3,96.9c-34.5,36.8-60.4,81.9-74.5,130.4c-0.6,1.6-0.7,3.4-1.8,4.7
        c-21.1-5.8-42.4-11.4-63.5-17.3C52.447,183.274,147.647,81.774,265.147,38.975L265.147,38.975z"/>
      <path fill="#30327F" stroke="#30327F" stroke-width="0.0938" stroke-miterlimit="10" d="M402.447,24.074c3.8-1,7.8-0.1,11.699-0.2
        c0.101,13.1-0.699,26.2-0.399,39.2c4.5,0.7,9.2-0.2,13.6,0.7c0.601,3,0.101,6.3,0,9.4c-8.5,0.3-17-0.2-25.5-0.3
        C401.646,56.574,402.547,40.375,402.447,24.074L402.447,24.074z"/>
      <path fill="#30327F" stroke="#30327F" stroke-width="0.0938" stroke-miterlimit="10" d="M356.947,25.875c3.5-0.2,7.3-1.6,10.8-0.9
        c1.9,16,3.9,32,5.8,47.9c-3.5,1.5-7.6,1.2-11.4,1.8c-4.7-7.5-7.3-16.6-12.1-24.1c0.6,8.4,2.5,16.6,3.8,24.9
        c-3.6,0.8-7.3,1.4-10.9,1.4c-1.8-16.3-4.4-32.5-5.7-48.7c3.9-0.3,7.7-1.1,11.6-1.2c4.3,8.1,7.1,17.3,12.1,24.8
        C359.747,43.174,357.847,34.574,356.947,25.875L356.947,25.875z"/>
      <path fill="#30327F" stroke="#30327F" stroke-width="0.0938" stroke-miterlimit="10" d="M449.047,26.774c4.7,0.4,9.5,0.7,13.9,2
        c1.3,16.5,2.8,33.1,3.699,49.6c-3.699-0.3-7.8-0.4-11.3-1.7c-0.2-3-0.1-6-0.399-9c-2.7-1-5.801-0.9-8.7-1.5
        c-1.3,2.9-1.7,6.1-2.9,9.1c-3.8-0.1-7.6-0.9-11.3-1.5C437.447,58.074,443.347,42.475,449.047,26.774L449.047,26.774z"/>
      <path fill="#30327F" stroke="#30327F" stroke-width="0.0938" stroke-miterlimit="10" d="M312.047,33.875c3.7-0.8,7.3-2,11.1-2.4
        c4.2,15.6,7.4,31.5,11.1,47.2c-3,2.1-7.5,2.2-11.2,3.1C319.347,65.875,315.547,49.875,312.047,33.875L312.047,33.875z"/>
      <path fill="#30327F" stroke="#30327F" stroke-width="0.0938" stroke-miterlimit="10" d="M478.947,52.774c-3.2-8.8,4-20.9,14.199-19
        c9.5,0.1,17.101,9.7,13.7,19c-3.5-0.2-7-1.3-10.399-2.2c0.399-2.7,1.199-7-2.5-7.7c-3.7-1.1-5.801,4-3.801,6.7
        c4.101,5.7,11.5,9.7,12.601,17.2c0.3,7-2.5,15.6-9.9,17.7c-6.8,1.4-14.8-0.8-19-6.5c-2.8-4.1-1.399-9.3-0.2-13.7
        c3.4-0.2,6.801,1.5,10.2,1.9c-0.3,3.2-2.3,8.4,2.2,9.5c4.8,1.8,7.4-5.4,4.5-8.4C486.547,62.574,481.247,58.674,478.947,52.774
        L478.947,52.774z"/>
      <path fill="#FDFEFD" stroke="#FDFEFD" stroke-width="0.0938" stroke-miterlimit="10" d="M448.947,57.875
        c1.3-6.7,3.199-13.8,5.899-20c-0.2,6.9,0.4,13.9,0.101,20.8C452.947,58.475,450.947,58.174,448.947,57.875L448.947,57.875z"/>
      <path fill="#30327F" stroke="#30327F" stroke-width="0.0938" stroke-miterlimit="10" d="M257.647,50.375c9.4-2.7,18.8-6.9,28.2-8.5
        c1,2.9,1.9,5.8,2.8,8.7c-2.7,1.4-6.2,1.5-8.7,3.3c3.8,12.3,8.1,24.4,11.8,36.8c-3,1.9-7.1,2.4-10.6,3.8
        c-4.9-12.2-7.5-25.7-12.9-37.2c-2.7,0.8-5.3,1.9-8.1,2.5C259.347,56.674,257.347,53.475,257.647,50.375L257.647,50.375z"/>
      <path fill="#30327F" stroke="#30327F" stroke-width="0.0938" stroke-miterlimit="10" d="M520.146,42.674
        c9.301,3.3,18.4,7,27.7,10.5c-1,3.1-1.899,6.4-3.7,9.1c-2.8-1-5.5-2.1-8.199-3.1c-5.2,11.9-9.5,24.3-14.2,36.4
        c-3.7-0.8-7.2-2.5-10.7-3.9c4.2-12.4,9.4-24.4,13.7-36.7c-2.601-1.2-5.3-2-8-3.2C517.146,48.674,518.646,45.475,520.146,42.674
        L520.146,42.674z"/>
      <path fill="#30327F" stroke="#30327F" stroke-width="0.0938" stroke-miterlimit="10" d="M232.347,60.975c7.5-5.6,19.4-2.4,22.2,6.9
        c-2.7,2.2-6.3,3-9.4,4.6c-1.5-2.1-2.9-5.8-6.1-4.9c-3.9,0.6-3.5,6.1-0.4,7.6c6.9,2.6,15.8,0.8,21.3,6.6c4.1,5.2,6.8,13,3.1,19
        c-4.1,5.8-12.1,9-19.1,7.3c-5.2-1.3-7.3-6.7-8.9-11.2c3.1-1.5,6.3-3.6,9.7-3.9c1.3,2.6,2.5,7,6.3,6c5-0.7,4.1-8.1,0-9.4
        c-5.8-1.6-12.1-1.4-17.6-4.2C224.647,80.875,222.547,65.774,232.347,60.975L232.347,60.975z"/>
      <path fill="#30327F" stroke="#30327F" stroke-width="0.0938" stroke-miterlimit="10" d="M575.447,70.274
        c11.1-3.2,26.699,8.4,20.699,20.6c-4.8,8.4-9,17.3-15,25c-7,8.5-20,2.4-25.1-5.1c-4.6-8,2.1-16.2,5.8-23.1
        C565.947,81.674,568.247,73.375,575.447,70.274L575.447,70.274z"/>
      <path fill="#30327F" stroke="#30327F" stroke-width="0.0938" stroke-miterlimit="10" d="M202.947,78.574
        c10.4-5.6,21.9,8.5,17.2,18.1c10.2-0.5,11.5,12.3,18.6,17c-3.2,2.4-6.9,5-10.7,6.4c-4-3.9-5.6-9.7-10-13.4
        c-2.3-1.7-4.7,0.3-6.7,1.5c1.7,6.1,7.5,11,9.4,17.1c-3.2,1.8-6.1,4.1-9.5,5.5c-8.7-13.6-17.2-27.3-25.7-41
        C190.547,85.475,197.047,82.074,202.947,78.574L202.947,78.574z"/>
      <path fill="#FEFEFE" stroke="#FEFEFE" stroke-width="0.0938" stroke-miterlimit="10" d="M580.447,80.274
        c3.199-2.4,7.699,1.9,5.399,5.3c-4.399,7.6-8.5,15.4-13.399,22.7c-2.601,4.2-8.9-0.3-6.301-4.4
        C570.646,95.875,574.547,87.274,580.447,80.274L580.447,80.274z"/>
      <path fill="#30327F" stroke="#30327F" stroke-width="0.0938" stroke-miterlimit="10" d="M591.047,115.774
        c6.8-9.3,13-19.1,20.1-28.2c3.101,1.7,6.301,3.8,8.9,6.2c-6.4,10.9-14.6,20.9-21.4,31.6c-2.1,3.6,3.7,7.6,6.301,4.3
        c7.1-9.6,13.8-19.6,20.699-29.4c0.5-1.1,1.801-2.1,2.801-0.9c2.5,2.2,6.3,3.3,7.8,6.3c-6.8,9.6-13.5,19.3-20.4,29
        c-3,4.2-8.3,7.7-13.8,6.2c-5.8-1.7-11.2-5.8-13.8-11.3C586.047,124.875,588.146,119.574,591.047,115.774L591.047,115.774z"/>
      <path fill="#FDFEFC" stroke="#FDFEFC" stroke-width="0.0938" stroke-miterlimit="10" d="M206.147,100.674c-1.5-3.5-9.5-9.8-3-11.7
        C210.647,85.674,214.847,99.774,206.147,100.674L206.147,100.674z"/>
      <path fill="#30327F" stroke="#30327F" stroke-width="0.0938" stroke-miterlimit="10" d="M166.647,102.875c2.7-2.7,6.1-4.6,9.2-6.8
        c9.5,13.4,19.3,26.7,28.1,40.5c-3.2,1.9-6,5-9.6,6.1C185.147,129.375,175.647,116.274,166.647,102.875L166.647,102.875z"/>
      <path fill="#0E584B" stroke="#0E584B" stroke-width="0.0938" stroke-miterlimit="10" d="M205.347,165.074
        c59.1-47.3,136.1-71.9,211.7-66.5c43.8,2.7,87.1,14.4,126,34.8c-44.2,43.6-87.7,87.9-131.8,131.6c-0.7-41.4-0.8-82.7-1.601-124.1
        c-4.199-10-9.3-19.7-13.7-29.6c-0.5-0.9-0.5-2.6-1.8-2.5c-0.2,0.4-0.6,1.3-0.8,1.7c-4.6,10.2-9.7,20.1-14.1,30.4
        c-0.9,52.9-1.2,105.8-2,158.7c-3.4,2.7-6.3,6-9.4,9c-81.7,81.8-163.4,163.5-245.1,245.3c-34.1-64.699-45.1-141.899-28-213.2
        C109.647,271.574,149.847,208.574,205.347,165.074L205.347,165.074z"/>
      <path fill="#BFBFBF" stroke="#BFBFBF" stroke-width="0.0938" stroke-miterlimit="10" d="M394.147,108.774c1.3-0.1,1.3,1.6,1.8,2.5
        c-1.1,3-0.7,6.3-0.7,9.5c-0.1,146,0.2,292.1-0.2,438.1h-1.2c-0.4-146.3,0-292.7-0.2-439.1c0.1-3.1,0.2-6.2-0.3-9.3
        C393.547,110.074,393.947,109.174,394.147,108.774L394.147,108.774z"/>
      <path fill="#30327F" stroke="#30327F" stroke-width="0.0938" stroke-miterlimit="10" d="M137.247,127.074
        c6.9-5.6,13.5-11.7,20.6-17c2,2.5,4.6,4.7,5.9,7.5c-3.6,3.3-7.5,6.3-11.3,9.5c0.6,2.5,3.4,4.4,4.9,6.6c4.4-1.6,7.3-6.5,11.4-8.5
        c2,2.5,4.6,4.7,6,7.4c-3.2,3.4-7.3,5.8-10.4,9.2c3.8,5.6,9.3,10.2,12.7,16c-2.6,2.5-5.5,5.5-8.8,7
        C157.947,152.174,146.647,140.074,137.247,127.074L137.247,127.074z"/>
      <path fill="#FFFFFF" stroke="#FFFFFF" stroke-width="0.0938" stroke-miterlimit="10" d="M393.347,110.475c0.5,3.1,0.4,6.2,0.3,9.3
        c0.2,146.4-0.2,292.8,0.2,439.1c-6.3,0-12.7,0-19.1,0c-0.3-50.399,1.3-100.8,1.3-151.3c0.2-5.7,0.3-11.4,0.2-17.1
        c0.4-24.6,0.6-49.2,0.9-73.8c0.2-5.7,0.3-11.4,0.1-17.1c0.8-52.9,1.1-105.8,2-158.7
        C383.647,130.574,388.747,120.674,393.347,110.475L393.347,110.475z"/>
      <path fill="#FFFFFF" stroke="#FFFFFF" stroke-width="0.0938" stroke-miterlimit="10" d="M395.247,120.774c0-3.2-0.4-6.5,0.7-9.5
        c4.4,9.9,9.5,19.6,13.7,29.6c0.801,41.4,0.9,82.7,1.601,124.1c0.1,5.5,0,11,0.399,16.6c-0.3,24.1,0.4,48.2,0.601,72.3
        c0.2,5.5,0,11,0.399,16.6c0.4,62.8,0.9,125.7,2.101,188.5c-6.5-0.101-13.101-0.101-19.7-0.101
        C395.447,412.874,395.147,266.774,395.247,120.774L395.247,120.774z"/>
      <path fill="#30327F" stroke="#30327F" stroke-width="0.0938" stroke-miterlimit="10" d="M638.747,119.875c2-2.3,3.8-5.3,6.3-6.9
        c7.5,6.2,14.7,12.6,21.9,19c-0.601,2.9-3.7,4.9-5.4,7.3c-3.2,0.1-4.8-5.2-8-5c-8.6,9.5-16.6,19.6-25.5,28.8
        c-2.9-2.3-5.8-4.6-8.3-7.3c7.899-10.3,17.6-19.6,25.2-29.9C643.047,123.674,640.146,122.375,638.747,119.875L638.747,119.875z"/>
      <path fill="#F4D019" stroke="#F4D019" stroke-width="0.0938" stroke-miterlimit="10" d="M411.247,264.975
        c44.1-43.7,87.6-88,131.8-131.6c3.4,1.7,6.7,3.6,10,5.5l0.5,1c-42.7,43-85.7,85.8-128.6,128.8c-4.5,4.3-8.5,9-13.301,12.9
        C411.247,275.975,411.347,270.475,411.247,264.975L411.247,264.975z"/>
      <path fill="#446DAB" stroke="#446DAB" stroke-width="0.0938" stroke-miterlimit="10" d="M553.047,138.875c2.7,0,4.8,1.7,7,3
        c13,7.7,25.3,16.5,36.9,26.1c0.1,0.4,0.199,1.2,0.199,1.6l-0.8,0.1c-13.399-11-28-20.6-42.8-29.8L553.047,138.875L553.047,138.875z
        "/>
      <path fill="#30327F" stroke="#30327F" stroke-width="0.0938" stroke-miterlimit="10" d="M553.547,139.875
        c14.8,9.2,29.4,18.8,42.8,29.8c-61.3,61.5-122.8,122.8-184.1,184.2c-0.2-24.1-0.9-48.2-0.601-72.3c4.801-3.9,8.801-8.6,13.301-12.9
        C467.847,225.674,510.847,182.875,553.547,139.875L553.547,139.875z"/>
      <path fill="#C1C1C1" stroke="#C1C1C1" stroke-width="0.0938" stroke-miterlimit="10" d="M252.447,158.274c0.4-1.5,0.2-4.6,2.3-4.5
        c0.3,1.2,0.9,2.4,0.8,3.6c-0.5,2.1-0.8,4.2-0.7,6.4c0.2,24.7-0.3,49.3,0.3,74c7.3-6.6,14-13.9,21-20.8c1,0.4,1.9,1,2.9,1.6
        c-2.9-0.6-4.4,2.3-6.2,3.9c-5.2,5.6-11.2,10.4-15.8,16.4c22.7,0.6,45.3,0,68,0.3c1.9-0.1,3.9,0.3,5.5-1c1.7,0.6,4.4,0.4,5.3,2.2
        c-1.1,0.4-2.2,1-3.4,1c-25.1-1.1-50.4-0.4-75.6-0.4c6.2,7.7,13.6,14.8,21.1,21.3c-0.6,0.5-1.1,0.9-1.6,1.3
        c-7.1-6.9-13.8-14.4-21.3-20.9c-0.4,45.4,0,90.7-0.2,136.1c0.1,2.2-0.2,4.6,1,6.5c0.1,3.1-1.1,6.3-1.1,9.4
        c-2.5-2.2-1.7-7.1-2.4-10.3c0.9-2.1,1-4.4,1-6.6c-0.2-45,0.3-90-0.3-135c-7.6,6.1-13.5,14.1-21.2,20.2c-0.5-0.2-1.4-0.7-1.8-0.9
        c8.2-5.7,14.8-14,22-21.1c-25.5,0-51-0.7-76.4,0.4c-1.2-0.1-2.3-0.6-3.4-1c0.9-1.7,3.5-1.6,5.3-2.2c1.9,1.3,4.3,0.9,6.5,1
        c22.4-0.2,44.8,0.3,67.1-0.3c-4.2-5.7-9.9-10.2-14.7-15.5c-2.3-1.9-4-5.5-7.4-4.8c1.2-0.2,1.9-1.8,3.3-1.6
        c7.1,6.4,13.2,14.1,20.8,20c0.5-24,0-48.1,0.2-72.2C253.347,162.574,253.447,160.274,252.447,158.274L252.447,158.274z"/>
      <path fill="#FFFFFF" stroke="#FFFFFF" stroke-width="0.0938" stroke-miterlimit="10" d="M254.847,163.774c-0.1-2.2,0.2-4.3,0.7-6.4
        c7,19.8,14,39.6,20.6,59.6c-7,6.9-13.7,14.2-21,20.8C254.547,213.074,255.047,188.475,254.847,163.774L254.847,163.774z"/>
      <path fill="#FFFFFF" stroke="#FFFFFF" stroke-width="0.0938" stroke-miterlimit="10" d="M252.447,158.274c1,2,0.9,4.3,0.9,6.5
        c-0.2,24.1,0.3,48.2-0.2,72.2c-7.6-5.9-13.7-13.6-20.8-20C238.247,197.274,245.747,177.774,252.447,158.274L252.447,158.274z"/>
      <path fill="#F4D018" stroke="#F4D018" stroke-width="0.0938" stroke-miterlimit="10" d="M596.347,169.674l0.8-0.1
        c3.101,2.3,6.601,4.7,8.9,7.9c-61.1,61.1-122.2,122.1-183.2,183.1c-3.399,3.3-6.6,6.9-10.2,9.9c-0.399-5.6-0.199-11.1-0.399-16.6
        C473.547,292.475,535.047,231.174,596.347,169.674L596.347,169.674z"/>
      <path fill="#6CBFCF" stroke="#6CBFCF" stroke-width="0.0938" stroke-miterlimit="10" d="M422.847,360.574
        c61-61,122.101-122,183.2-183.1c2.6,1.3,4.5,3.7,6.6,5.6c46.4,43.8,78.801,102.2,91.101,164.7c15,73.1,1.399,151.3-35.9,215.8
        c-23.899,41.7-57.6,77.8-97.6,104.4c-53.601,36.1-118.7,54.5-183.2,52.5c-83.6-1.7-166-40.2-220.4-103.7
        c17.2-17.3,34.7-34.4,51.7-52c10.4,5.5,20.2,11.9,30.7,16.9c-0.2-5.7-3.1-10.9-3-16.601c18.6,5.601,36.9,12.5,55.6,17.601
        c0.6-4.9,0.6-9.801,0.8-14.7c15,3.899,29.6,9.6,44.4,14.1c-12.8,9-27.3,15.7-40.7,23.9c2.9,4.7,9,6.6,12.5,10.8
        c-14.2,7.4-29.5,12.6-43.7,19.9c22.8-4.601,45.2-11.7,67.9-17.4c-1-4-7.1-4.5-8.6-8.3c10.9-6.101,22.2-11.601,33.1-17.9
        c1-0.5,2.1-1.1,3.1-1.6c1.1,0.2,2.2,0.399,3.3,0.6c0.1,24.9,0.2,49.8,0,74.7c-0.5,7.8-9.1,10.7-15.7,11.1
        c-0.5,9.4-0.9,19.301,0.2,28.5c24.2,0.101,48.399,0.101,72.6,0.101c0.601-9.5,0.601-19.101,0-28.5c-7-0.5-15.899-3.8-15.899-12.2
        c0-24.6-0.301-49.2,0.199-73.8c1.2-0.101,2.5-0.3,3.801-0.3l1.199,0.199c11.601,6.9,24.4,12.301,35.7,19.7c-3,2.5-6.5,4.4-9.3,7.3
        c17.4,5.5,35.5,9.4,53.1,14.4c5.2,1.2,10.2,3.2,15.5,3.5c-14.3-7-29.199-12.9-43.8-19.5c2.4-4.9,9.7-6.4,12.5-11.3
        c-13.399-8.2-28-14.8-40.7-23.9c14.601-4.6,29.101-9.899,43.801-14.1c1.3,4.8,0.3,9.899,1.199,14.8
        c18.801-5.3,37.101-12.2,55.801-17.8c-0.5,5.8-2.5,11.2-3.601,16.8c23-11.8,45.2-25.3,67.9-37.8c3.2-2.2,7.1-3.4,10-6.2
        c-19.5,4.3-38.5,11.1-57.8,15.7c0.199-4.5,1.3-9,1.399-13.601c-19.1,5.5-37.6,13.2-56.7,18.9c-0.3-4.2,1-8.6-0.1-12.7
        c-22.7,6.2-45.2,13.4-67.9,19.5c18.801-15.5,39.601-29,58-44.899c-10.399-0.801-20.699,1-31.1,0.1c9-13.1,20.4-24.7,29.2-38
        c-20.5,16.5-40.601,33.5-60.2,50.9c6.2,0.899,12.6,0.6,18.9,1.5c0.399,1.199-1.301,1.8-2,2.5c-9.9,7-20,13.899-29.801,21
        l-1.1,0.199c-1.4,0.101-2.9,0.101-4.3,0.101c-1.2-62.8-1.7-125.7-2.101-188.5C416.247,367.475,419.447,363.875,422.847,360.574
        L422.847,360.574z"/>
      <path fill="#FFFFFF" stroke="#FFFFFF" stroke-width="0.0938" stroke-miterlimit="10" d="M177.547,238.174
        c17.1-6.7,34.4-13,51.5-19.6c3.4-0.7,5.1,2.9,7.4,4.8c4.8,5.3,10.5,9.8,14.7,15.5c-22.3,0.6-44.7,0.1-67.1,0.3
        C181.847,239.074,179.447,239.475,177.547,238.174L177.547,238.174z"/>
      <path fill="#FFFFFF" stroke="#FFFFFF" stroke-width="0.0938" stroke-miterlimit="10" d="M272.847,222.475c1.8-1.6,3.3-4.5,6.2-3.9
        c17.1,6.5,34.3,12.9,51.5,19.6c-1.6,1.3-3.6,0.9-5.5,1c-22.7-0.3-45.3,0.3-68-0.3C261.647,232.875,267.647,228.074,272.847,222.475
        L272.847,222.475z"/>
      <path fill="#FFFFFF" stroke="#FFFFFF" stroke-width="0.0938" stroke-miterlimit="10" d="M175.647,241.375
        c25.4-1.1,50.9-0.4,76.4-0.4c-7.2,7.1-13.8,15.4-22,21.1C211.947,254.975,193.747,248.375,175.647,241.375L175.647,241.375z"/>
      <path fill="#FFFFFF" stroke="#FFFFFF" stroke-width="0.0938" stroke-miterlimit="10" d="M256.847,240.975c25.2,0,50.5-0.7,75.6,0.4
        c-18.1,7.1-36.4,13.9-54.5,20.9C270.447,255.774,263.047,248.674,256.847,240.975L256.847,240.975z"/>
      <path fill="#FFFFFF" stroke="#FFFFFF" stroke-width="0.0938" stroke-miterlimit="10" d="M231.847,262.975
        c7.7-6.1,13.6-14.1,21.2-20.2c0.6,45,0.1,90,0.3,135c0,2.2-0.1,4.5-1,6.6C245.447,343.875,238.447,303.475,231.847,262.975
        L231.847,262.975z"/>
      <path fill="#FFFFFF" stroke="#FFFFFF" stroke-width="0.0938" stroke-miterlimit="10" d="M255.047,242.674
        c7.5,6.5,14.2,14,21.3,20.9c-6.7,40.6-13.6,81.2-20.5,121.7c-1.2-1.9-0.9-4.3-1-6.5
        C255.047,333.375,254.647,288.074,255.047,242.674L255.047,242.674z"/>
      <path fill="#F4D019" stroke="#F4D019" stroke-width="0.0938" stroke-miterlimit="10" d="M367.847,308.574c3.1-3,6-6.3,9.4-9
        c0.2,5.7,0.1,11.4-0.1,17.1c-82.7,82.5-165.1,165.2-247.6,247.9c-0.3,0-0.8,0-1.1,0c-1.9-3.6-4.1-7-5.7-10.7
        C204.447,472.074,286.147,390.375,367.847,308.574L367.847,308.574z"/>
      <path fill="#30327F" stroke="#30327F" stroke-width="0.0938" stroke-miterlimit="10" d="M129.547,564.574
        c82.5-82.7,164.9-165.4,247.6-247.9c-0.3,24.6-0.5,49.2-0.9,73.8c-3.6,2.5-6.4,6-9.6,8.9c-50,50.2-100.4,100.1-150.2,150.5
        c-14.9-3.6-29.5-8.8-44.5-12c11.1,7.9,23.8,13.5,35.4,20.801c-16.1,16.199-32.3,32.3-48.4,48.5
        C148.147,593.675,138.047,579.574,129.547,564.574L129.547,564.574z"/>
      <path fill="#30327F" stroke="#30327F" stroke-width="0.0938" stroke-miterlimit="10" d="M480.747,394.074
        c-17.3-21.5-10.7-55,7.5-73.5c-1.601,19.3-1.5,40.9,11,57c10.399,13.2,27.2,19.2,43.3,21.8c3.3-6.4,11.1-7.7,17.5-9
        c10.9-1.6,22.3-1.5,33.1,1.1c4.801,1.2,10.101,3,12.301,7.8c17.8-2.4,36.5-10,46.3-25.8c9.8-15.8,9.7-35.1,8.2-53
        c11.199,11.1,17.199,27.7,17.6,43.4c0.6,17.5-9.6,34.1-24.5,42.9c-10,6.5-21.7,9.4-32.9,12.6c12,2.7,25,3.7,35.5,10.801
        c4.301,2.8,9.2,10.699,3.101,14.399c-15.4,11-36.7,5.101-49.601-7c-0.399,6.8-0.6,13.8-3.1,20.2c-3,5.9-7.4,11.3-8.9,18
        c-1.899,11.3,0.7,23.2-2.8,34.3c-3.5,8-13.6,9.2-21.3,9.101c-7.3-0.301-17-1.9-19.4-10c-3.1-10.5-1-21.601-2.399-32.301
        c-1.101-6.899-5.7-12.399-8.8-18.5c-2.801-6.5-3.101-13.699-3.301-20.699c-13.1,11.899-34.3,17.899-49.699,6.8
        c-5.801-3.4-1.601-10.9,2.5-13.8c10.399-7.601,23.8-8.5,36-11.2C510.747,414.774,492.146,408.774,480.747,394.074L480.747,394.074z
        "/>
      <path fill="#F4D019" stroke="#F4D019" stroke-width="0.0938" stroke-miterlimit="10" d="M366.647,399.375c3.2-2.9,6-6.4,9.6-8.9
        c0.1,5.7,0,11.4-0.2,17.1c-25.9,25.3-51.1,51.3-77,76.601c-1-0.601-1.9-1.101-2.9-1.601c0.6,1,1.3,2,1.9,2.9
        c-19.5,19.3-38.8,38.7-58.1,58.1c-3.9-1.2-7.8-2.899-11.8-3.8c-0.3,4.6,1.5,9.2,0.9,13.7c-4.3-0.9-8.5-2.3-12.6-3.601
        C266.247,499.475,316.647,449.574,366.647,399.375L366.647,399.375z"/>
      <path fill="#6CBFCF" stroke="#6CBFCF" stroke-width="0.0938" stroke-miterlimit="10" d="M299.047,484.175
        c25.9-25.301,51.1-51.301,77-76.601c0,50.5-1.6,100.9-1.3,151.3c-1.2,0.101-2.4,0.101-3.6,0.101c-0.4-0.101-1.3-0.3-1.7-0.4
        c-10.4-7.899-21.6-14.8-31.9-22.899c6.2-2,13.1-0.801,19.5-2.101C337.947,516.774,318.147,500.874,299.047,484.175L299.047,484.175
        z"/>
      <path fill="#BE2C37" stroke="#BE2C37" stroke-width="0.0938" stroke-miterlimit="10" d="M296.147,482.574c1,0.5,1.9,1,2.9,1.601
        c19.1,16.699,38.9,32.6,58,49.399c-6.4,1.3-13.3,0.101-19.5,2.101c10.3,8.1,21.5,15,31.9,22.899c-1.8,9.101-9.1,15.5-16.5,20.2
        c-0.3,4.6-0.7,9.3,0.3,13.7c4.7,0.399,9.4,0,14.1,0.6c-10.9,6.3-22.2,11.8-33.1,17.9c1.5,3.8,7.6,4.3,8.6,8.3
        c-22.7,5.7-45.1,12.8-67.9,17.4c14.2-7.301,29.5-12.5,43.7-19.9c-3.5-4.2-9.6-6.1-12.5-10.8c13.4-8.2,27.9-14.9,40.7-23.9
        c-14.8-4.5-29.4-10.2-44.4-14.1c-0.2,4.899-0.2,9.8-0.8,14.7c-18.7-5.101-37-12-55.6-17.601c-0.1,5.7,2.8,10.9,3,16.601
        c-10.5-5-20.3-11.4-30.7-16.9c-3.5-2.2-7.3-4.1-11-6.1c-11.6-7.301-24.3-12.9-35.4-20.801c15,3.2,29.6,8.4,44.5,12
        c4.1,1.301,8.3,2.7,12.6,3.601c0.6-4.5-1.2-9.101-0.9-13.7c4,0.9,7.9,2.6,11.8,3.8c15,4.9,29.7,10.9,44.8,15.101
        c0.1-4.101-0.5-8.2-0.1-12.301c22.4,5.101,44.3,13.301,66.7,18.7c-17.7-16-38.9-28.5-56.4-44.5c10.3-0.7,20.7,1.101,31,0.2
        c-9-12-18.6-23.5-27.9-35.3C297.447,484.574,296.747,483.574,296.147,482.574L296.147,482.574z"/>
      <path fill="#BE2C37" stroke="#BE2C37" stroke-width="0.0938" stroke-miterlimit="10" d="M433.047,533.675
        c19.6-17.4,39.7-34.4,60.2-50.9c-8.8,13.3-20.2,24.9-29.2,38c10.4,0.9,20.7-0.9,31.1-0.1c-18.399,15.899-39.199,29.399-58,44.899
        c22.7-6.1,45.2-13.3,67.9-19.5c1.1,4.101-0.2,8.5,0.1,12.7c19.101-5.7,37.601-13.4,56.7-18.9c-0.1,4.601-1.2,9.101-1.399,13.601
        c19.3-4.601,38.3-11.4,57.8-15.7c-2.9,2.8-6.8,4-10,6.2c-22.7,12.5-44.9,26-67.9,37.8c1.101-5.6,3.101-11,3.601-16.8
        c-18.7,5.6-37,12.5-55.801,17.8c-0.899-4.9,0.101-10-1.199-14.8c-14.7,4.2-29.2,9.5-43.801,14.1c12.7,9.101,27.301,15.7,40.7,23.9
        c-2.8,4.899-10.1,6.399-12.5,11.3c14.601,6.6,29.5,12.5,43.8,19.5c-5.3-0.3-10.3-2.3-15.5-3.5c-17.6-5-35.699-8.9-53.1-14.4
        c2.8-2.899,6.3-4.8,9.3-7.3c-11.3-7.399-24.1-12.8-35.7-19.7c0.4-11,0.4-22.1,0-33.199c9.801-7.101,19.9-14,29.801-21
        c0.699-0.7,2.399-1.301,2-2.5C445.646,534.274,439.247,534.574,433.047,533.675L433.047,533.675z"/>
      <path fill="#6CBFCF" stroke="#6CBFCF" stroke-width="0.0938" stroke-miterlimit="10" d="M239.947,543.574
        c19.3-19.399,38.6-38.8,58.1-58.1c9.3,11.8,18.9,23.3,27.9,35.3c-10.3,0.9-20.7-0.9-31-0.2c17.5,16,38.7,28.5,56.4,44.5
        c-22.4-5.399-44.3-13.6-66.7-18.7c-0.4,4.101,0.2,8.2,0.1,12.301C269.647,554.475,254.947,548.475,239.947,543.574L239.947,543.574
        z"/>
      <path fill="#FFFEFE" stroke="#FFFEFE" stroke-width="0.0938" stroke-miterlimit="10" d="M21.747,521.774
        c20.8-6.4,42.2-11.6,63.3-17.2c1.3,1.3,1.3,3.4,2,5.101c18.6,58,53.6,110.699,99.8,150.3c50.9,44,116,71.399,183.1,76.6
        c71.4,5.7,144.7-12.1,204.9-51c65.2-41.5,114.5-106.7,137.4-180.5c21.2,5.5,42.399,11,63.399,16.9
        c-18.399,61.5-52.199,118.399-97.5,163.899c-42.3,42.9-94.699,75.9-151.699,95.301c-73.5,25.1-154.4,27.899-229.4,7.6
        c-60.3-16.2-116.5-47.3-162.6-89.4C81.947,651.675,42.147,589.774,21.747,521.774L21.747,521.774z"/>
      <path fill="#30327F" stroke="#30327F" stroke-width="0.0938" stroke-miterlimit="10" d="M64.147,513.975c2.2-0.8,4.4-1.5,6.7-2
        c1.8,4.8,5.2,10.2,11.1,10.1c0.9,2.101,1.5,4.4,2.1,6.601c-15,5.399-30.3,10.199-45.6,14.899c-1.1-3.2-2.2-6.399-3.1-9.6
        c10.3-3.8,21-6.8,31.4-10.4C66.147,520.274,64.147,517.274,64.147,513.975L64.147,513.975z"/>
      <path fill="#30327F" stroke="#30327F" stroke-width="0.0938" stroke-miterlimit="10" d="M718.646,542.074
        c-13.3-6.399-6.199-30.8,8.4-29.5c5.2,0.601,9.9,2.9,14.9,4.3c6.8,2.4,14.6,3.601,19.3,9.601c1.7-0.5,3-1.8,4.8-2
        c1.2,2.6,2.8,5.3,3,8.1c-2.1,1.101-4.3,1.7-6.3,2.9c-1.2,5.1-2.7,10.7-7.3,13.7c-4.801,3.1-10.801,1.8-15.801,0
        C732.747,546.774,725.547,544.874,718.646,542.074L718.646,542.074z"/>
      <path fill="#FEFEFE" stroke="#FEFEFE" stroke-width="0.0938" stroke-miterlimit="10" d="M723.447,524.175
        c7.8,0.3,15.1,4.5,22.699,6.399c3,1,7.801,2.101,7.301,6.3c-0.9,3.2-4.9,3.2-7.5,2.2c-7.5-2.6-15.2-4.7-22.601-7.6
        C720.247,530.475,720.146,525.074,723.447,524.175L723.447,524.175z"/>
      <path fill="#31327F" stroke="#31327F" stroke-width="0.0938" stroke-miterlimit="10" d="M59.947,546.675c2.9-6,13-7.7,16.6-1.5
        c4.2,5.199,2.4,14.199-4.5,15.899c-1.3-1.899-2.9-4.399-2.7-6.8c4.4-0.6,3.4-7.8-1-5.3c-3.6,3.399-1.7,9.6-4.2,13.8
        c-3.7,6.4-15.1,8.1-18.5,0.4c-4.1-5.9-1.1-14.5,6.3-15.4c1.1,2.1,2.4,4.2,2.9,6.6c-2,0.9-5.1,2-4.3,4.7c0.7,3.3,5.9,2.5,6.5-0.399
        C58.047,554.675,58.047,550.475,59.947,546.675L59.947,546.675z"/>
      <path fill="#30327F" stroke="#30327F" stroke-width="0.0938" stroke-miterlimit="10" d="M699.347,555.874
        c1.9-9.399,13-14.899,21.4-9.8c-1,3.3-2.7,6.3-4,9.5c-2.7-0.3-6.3-2.3-8.101,0.7c-2.3,3.3,2.101,7.1,5.4,5.6
        c6.7-2.899,12.1-9.8,20.1-9.1c6.601,1.2,14.2,5.5,14.9,12.9c0.2,6.899-3.4,14.199-9.7,17.399c-4.7,2.2-9.8-0.2-14-2.5
        c1.4-3.1,2.4-6.899,4.601-9.399c2.699,1.1,6.699,3.5,8.8,0.199c3.399-4-2.9-9-6.7-6.699c-5.6,3-10.6,7.699-17.1,8.8
        C705.847,574.574,695.547,565.374,699.347,555.874L699.347,555.874z"/>
      <path fill="#F4D018" stroke="#F4D018" stroke-width="0.0938" stroke-miterlimit="10" d="M207.347,558.675c3.7,2,7.5,3.899,11,6.1
        c-17,17.6-34.5,34.7-51.7,52c-3.2-2.3-5.6-5.7-8-8.9l0.3-0.699C175.047,590.975,191.247,574.874,207.347,558.675L207.347,558.675z"
      />
      <path fill="#7C2A2D" stroke="#7C2A2D" stroke-width="0.0938" stroke-miterlimit="10" d="M369.447,558.574
        c0.4,0.101,1.3,0.3,1.7,0.4c-1.8,9.399-9.2,16-16.7,21.1c-0.2,3.5-0.2,6.9,0,10.4c5.3,1,10.8-0.5,16,1c-1,0.5-2.1,1.1-3.1,1.6
        c-4.7-0.6-9.4-0.2-14.1-0.6c-1-4.4-0.6-9.101-0.3-13.7C360.347,574.074,367.647,567.675,369.447,558.574L369.447,558.574z"/>
      <path fill="#BD2D38" stroke="#BD2D38" stroke-width="0.0938" stroke-miterlimit="10" d="M371.147,558.975c1.2,0,2.4,0,3.6-0.101
        c6.4,0,12.8,0,19.1,0h1.2c6.6,0,13.2,0,19.7,0.101c1.399,0,2.899,0,4.3-0.101c-0.3,11-0.2,21.9-0.1,32.801
        c-1.301,0-2.601,0.199-3.801,0.3c-0.5,24.6-0.199,49.2-0.199,73.8c0,8.4,8.899,11.7,15.899,12.2c0.601,9.399,0.601,19,0,28.5
        c-24.2,0-48.4,0-72.6-0.101c-1.1-9.199-0.7-19.1-0.2-28.5c6.6-0.399,15.2-3.3,15.7-11.1c0.2-24.9,0.1-49.8,0-74.7
        c-1.1-0.2-2.2-0.399-3.3-0.6c-5.2-1.5-10.7,0-16-1c-0.2-3.5-0.2-6.9,0-10.4C361.947,574.975,369.347,568.374,371.147,558.975
        L371.147,558.975z"/>
      <path fill="#6B252A" stroke="#6B252A" stroke-width="0.0938" stroke-miterlimit="10" d="M419.047,558.874l1.1-0.199
        c0.4,11.1,0.4,22.199,0,33.199l-1.199-0.199C418.847,580.774,418.747,569.874,419.047,558.874L419.047,558.874z"/>
      <path fill="#31327F" stroke="#31327F" stroke-width="0.0938" stroke-miterlimit="10" d="M76.347,562.175
        c1.9-1.101,3.8-1.9,5.7-2.801c3.5,5.9,6.7,12.101,9.3,18.4c-1.8,1.1-3.8,2.6-6,2.7c-1.1-1.601-1.3-4.4-3.2-5.2
        c-8.1,3.7-15.9,8.9-24,11.7c-1-2.3-3-4.4-2.9-6.9c7.8-4.2,16-7.899,23.6-12.399C78.047,565.774,76.847,564.074,76.347,562.175
        L76.347,562.175z"/>
      <path fill="#456CAC" stroke="#456CAC" stroke-width="0.0938" stroke-miterlimit="10" d="M128.447,564.574c0.3,0,0.8,0,1.1,0
        c8.5,15,18.6,29.101,29.4,42.601l-0.3,0.699c-1,0-1.9-0.399-2.5-1.199c-9.1-11.4-17.6-23.301-25-35.9
        C130.047,568.774,128.047,566.975,128.447,564.574L128.447,564.574z"/>
      <path fill="#30327F" stroke="#30327F" stroke-width="0.0938" stroke-miterlimit="10" d="M374.747,566.475c1.6-1.8,4.2-0.8,6.3-1
        c10.6,0.3,21.3-0.601,31.8,0.399c0.3,6.301,0.3,12.601,0,18.9c-17.4,0.7-35.3,0.6-52.7-0.1c-0.3-1.4,0.5-2.4,1.7-3.101
        C367.247,577.574,371.647,572.374,374.747,566.475L374.747,566.475z"/>
      <path fill="#30327F" stroke="#30327F" stroke-width="0.0938" stroke-miterlimit="10" d="M675.947,596.874
        c2.5-9.699,14.5-15.199,22.8-8.8c-0.3,3.5-3.4,6.2-5,9.3c-2.5-1.1-6.2-3.199-8.2-0.199c-2.4,3.3,2.2,7.199,5.5,5.8
        c6.6-2.2,12.7-7.5,20-6.2c6.6,2,13.7,7.4,13.5,15c-0.8,6.9-5.6,14-12.5,15.9c-4.8,1.399-9.1-1.7-12.9-4.2c1-3.2,3.4-5.8,5.101-8.7
        c2.899,0.2,6.2,4.6,9.2,1.4c3.8-3.301-0.801-9-5-8c-6.5,2.1-12.4,6.8-19.5,6.5C680.747,613.975,672.646,605.274,675.947,596.874
        L675.947,596.874z"/>
      <path fill="#30327F" stroke="#30327F" stroke-width="0.0938" stroke-miterlimit="10" d="M89.247,601.975c6.6-4,12.2-10,19.8-12.101
        c8.9-2.1,15.2,6.9,17.6,14.2c2.4,7.101-3.5,13.4-9.4,16.3c-2.1-3.1-4.9-6-6.2-9.399c1.7-2,4.7-3,5.6-5.601c1-3.199-3.4-6.5-6-4.1
        c-7.4,5-14.7,10.1-21.8,15.3c-3.3,2.3,0,7.7,3.5,6.7c3.2-0.4,5.3-4.2,8.3-4.1c2.1,2.8,4.1,5.6,6,8.6c-4.2,4-10.3,8.5-16.5,6.1
        c-7-2.699-12.3-9.699-13-17.1C77.047,609.574,84.147,605.675,89.247,601.975L89.247,601.975z"/>
      <path fill="#FFFFFF" stroke="#FFFFFF" stroke-width="0.0938" stroke-miterlimit="10" d="M380.747,591.774
        c9.1-0.1,18.3-0.4,27.5-0.1c0.3,5.3,0.3,10.8,0,16.199c-9.2,0.301-18.4,0.4-27.6,0.2
        C380.347,602.675,380.347,597.175,380.747,591.774L380.747,591.774z"/>
      <path fill="#30327F" stroke="#30327F" stroke-width="0.0938" stroke-miterlimit="10" d="M662.847,614.874
        c2.4-2.5,3.7-6.699,6.9-7.899c12.7,9.7,25.7,19.1,38.3,29c-1.7,3.399-4.4,6.8-7.1,9.5c-8.7-2.7-17.2-6.101-25.9-8.7
        c6.5,5.6,14.2,9.9,21,15.2c-1.5,3.1-4,5.8-6.2,8.5c-13.1-9.101-25.8-19.3-38.7-28.9c0.7-3.6,4.4-6.3,6.2-9.6
        c9.101,2,17.8,6.2,26.7,8.8C677.847,624.675,668.847,621.074,662.847,614.874L662.847,614.874z"/>
      <path fill="#30327F" stroke="#30327F" stroke-width="0.0938" stroke-miterlimit="10" d="M127.247,617.074
        c13.1-3.899,27,15.9,16,25.9c-7.3,6.1-14.2,12.8-22.1,17.899c-9.9,6.2-20.8-4.699-22.4-14.1c-0.6-9,8.3-13.9,14.2-19.2
        C117.647,623.975,121.647,619.175,127.247,617.074L127.247,617.074z"/>
      <path fill="#FFFFFF" stroke="#FFFFFF" stroke-width="0.0938" stroke-miterlimit="10" d="M380.647,616.574c9.2-0.1,18.4-0.2,27.6,0
        c0.3,6.7,0.399,13.5,0,20.2c-9.2,0.2-18.4,0.4-27.6,0.2C380.247,630.175,380.247,623.374,380.647,616.574L380.647,616.574z"/>
      <path fill="#FEFEFD" stroke="#FEFEFD" stroke-width="0.0938" stroke-miterlimit="10" d="M130.447,628.274c3.5-3.2,8.9,2.1,5.5,5.4
        c-6,5.699-12.6,10.8-18.9,16.1c-1.9,1.9-5.6,3.1-7.3,0.2c-1.6-3.2,1.5-6,3.7-7.8C119.147,637.574,124.447,632.475,130.447,628.274
        L130.447,628.274z"/>
      <path fill="#30327F" stroke="#30327F" stroke-width="0.0938" stroke-miterlimit="10" d="M646.447,637.274
        c8.1-2.1,13.699,5.3,19.1,10c5.2,5.5,12.4,9.8,14.8,17.4c1.601,7.3-4.399,13.6-9.899,17.5c-5.9,4-13.301,0.6-17.9-3.9
        c-5.8-5.9-12.5-10.9-17.7-17.3C628.247,651.874,637.247,639.975,646.447,637.274L646.447,637.274z"/>
      <path fill="#30327F" stroke="#30327F" stroke-width="0.0938" stroke-miterlimit="10" d="M153.347,638.074
        c4.3,2.7,8,7.101,11.6,10.8c-3.7,8.5-10.7,15.801-14.4,24.4c8.2-4.6,15.4-10.7,23.5-15.4c4.2,3,7.9,7.101,11.6,10.9
        c-11.1,11.8-22.4,23.4-33.7,34.9c-2.9-1.601-6.1-4.601-7.7-7.601c8.3-8.1,16.6-16.1,24.8-24.3c-10.8,5.3-20.1,13.7-30.7,19.5
        c-1.9-1.7-3.8-3.7-5.6-5.6c5.2-10.101,12.6-19.2,17.8-29.4c-8.3,7-15.2,16.1-22.8,24.1c-2.9-1.699-6-4.699-7.7-7.6
        C130.947,661.074,142.247,649.675,153.347,638.074L153.347,638.074z"/>
      <path fill="#FFFFFF" stroke="#FFFFFF" stroke-width="0.0938" stroke-miterlimit="10" d="M380.447,661.374
        c0.3-5.199-0.7-11,0.6-15.899c9.1-0.2,18.2-0.5,27.3-0.101c0.3,5.101,0.2,10.301,0.101,15.5
        C399.447,662.074,389.747,660.975,380.447,661.374L380.447,661.374z"/>
      <path fill="#FEFEFD" stroke="#FEFEFD" stroke-width="0.0938" stroke-miterlimit="10" d="M645.347,647.975
        c2.3-1.3,4.601,0.7,6.2,2.3c5.7,5.6,12,10.7,17.4,16.6c3.199,3.4-1.9,8.4-5.4,5.4c-6.3-4.9-11.8-10.9-17.8-16.2
        C643.247,654.175,641.847,649.675,645.347,647.975L645.347,647.975z"/>
      <path fill="#30327F" stroke="#30327F" stroke-width="0.0938" stroke-miterlimit="10" d="M617.646,662.475
        c2.801-2,4.9-5.3,8.101-6.4c10.5,12.3,22.3,23.9,32.2,36.5c-2.9,2.3-5.301,5.601-8.601,7.2c-10.399-11.4-20.6-22.9-31-34.3
        C617.646,664.675,616.146,663.274,617.646,662.475L617.646,662.475z"/>
      <path fill="#30327F" stroke="#30327F" stroke-width="0.0938" stroke-miterlimit="10" d="M590.247,685.074
        c7.6-5.899,14.899-12.5,22.7-18.1c2.3,2.2,4.6,4.7,6,7.6c-2.2,1.8-4.601,3.5-6.7,5.4c7.3,10.6,16.5,20.3,24.2,30.8
        c-2.9,2.4-5.601,5.5-9.101,6.9c-7.899-9.801-15.8-19.601-23.7-29.4c-3.3-1-4.899,4.7-8.3,4.3
        C593.747,690.074,590.547,688.074,590.247,685.074L590.247,685.074z"/>
      <path fill="#30327F" stroke="#30327F" stroke-width="0.0938" stroke-miterlimit="10" d="M379.347,670.074
        c9.9-0.899,20.4-0.8,30.3-0.1c0.7,6.8,7,11.3,13.101,13.2c3,0.699,1.7,4.399,1.899,6.6c-0.399,3.2,0.9,7-0.699,9.9
        c-19.801,0.399-39.8,0.699-59.601-0.101c0-5.2-0.1-10.399,0.1-15.6C370.947,681.574,378.347,677.774,379.347,670.074
        L379.347,670.074z"/>
      <path fill="#30327F" stroke="#30327F" stroke-width="0.0938" stroke-miterlimit="10" d="M190.147,671.774c6.3,4,13,8.2,17.9,14
        c6.2,7.6-1.6,20-11,19.2c4.8,10.2-8,24-18.4,18.3c-6-3.6-12-7.7-17.1-12.4C171.147,697.874,180.347,684.574,190.147,671.774
        L190.147,671.774z"/>
      <path fill="#FDFDFD" stroke="#FDFDFD" stroke-width="0.0938" stroke-miterlimit="10" d="M194.147,685.774c3.4,0.8,6.4,5.3,3.1,8.2
        c-1.9,3.7-6.6,2.5-8.8-0.2C190.247,690.975,192.047,688.274,194.147,685.774L194.147,685.774z"/>
      <path fill="#30327F" stroke="#30327F" stroke-width="0.0938" stroke-miterlimit="10" d="M571.347,697.074
        c3.8-2.3,7.4-5.8,11.601-7.2c11.899,11.4,24.399,22.7,35.699,34.601c-3.199,1.899-6.1,4.6-9.399,6c-2.5-1.8-4-4.601-6.4-6.5
        c-2.8,1.1-5.2,3.2-7.6,5c1.1,2.899,3.2,5.5,3.8,8.6c-3.2,2-6,5-9.6,6C583.547,727.975,576.847,712.675,571.347,697.074
        L571.347,697.074z"/>
      <path fill="#30327F" stroke="#30327F" stroke-width="0.0938" stroke-miterlimit="10" d="M188.447,730.774
        c11-12.4,22.2-24.9,33.6-36.8c4.1,1.399,7.7,4.3,11.7,6.3c-3.8,15.9-10,31.7-14.8,47.5l-0.8,0.3c-3-1.8-6.3-3.3-9.1-5.399
        c0.3-3.101,2.2-5.801,2.8-8.801c-2-1.899-5-3.6-7.8-4.399c-2.2,2.1-3.5,5.1-5.9,7C194.847,734.675,191.447,732.874,188.447,730.774
        L188.447,730.774z"/>
      <path fill="#FEFEFD" stroke="#FEFEFD" stroke-width="0.0938" stroke-miterlimit="10" d="M176.247,710.774c1.7-3.4,4.4-6.6,6.9-9.5
        c3.6,1.6,6.3,6.2,2.9,9.5C184.247,715.175,178.347,714.175,176.247,710.774L176.247,710.774z"/>
      <path fill="#FDFDFD" stroke="#FDFDFD" stroke-width="0.0938" stroke-miterlimit="10" d="M582.947,702.675
        c5,4.3,9.5,9.6,13.8,14.699c-1.8,1.2-3.5,2.601-5.5,3.301C588.547,714.574,585.347,708.774,582.947,702.675L582.947,702.675z"/>
      <path fill="#30327F" stroke="#30327F" stroke-width="0.0938" stroke-miterlimit="10" d="M540.646,714.374
        c3.801-5.6,10.7-9.1,17.4-9.3c6.5,0.101,10.4,6.101,12.6,11.4c-3.3,1.8-6.6,4.399-10.399,5.1c-1.4-2.2-2.3-5.1-4.8-6.3
        c-3.101-1.2-6.601,2.7-4.601,5.6c4.101,7.9,8.101,15.801,12.5,23.5c1.7,3,6.4,1.5,7-1.5c0.5-3.699-2.7-6.5-3.2-9.899
        c3.2-1.7,6.4-3.601,9.801-5c3.199,5.3,7.199,12,3.3,18c-4.4,6.899-14.101,12.399-22.2,8.7c-7-5.101-9.2-14.101-13.7-21.2
        C541.247,727.774,537.146,720.774,540.646,714.374L540.646,714.374z"/>
      <path fill="#30327F" stroke="#30327F" stroke-width="0.0938" stroke-miterlimit="10" d="M237.047,713.675
        c0.8-3,2.2-6.101,3.9-8.601c9,4.2,18.3,8,26.9,12.8c-1.3,2.9-2.7,5.7-4.1,8.601c-2.9-1.101-5.5-3-8.5-3.7
        c-5.5,11.6-10.9,23.3-16.4,35c-3.7-0.5-7-3-10.5-4.3c5.1-12,11-23.7,16.4-35.601C242.447,715.975,239.147,715.675,237.047,713.675
        L237.047,713.675z"/>
      <path fill="#FDFEFD" stroke="#FDFEFD" stroke-width="0.0938" stroke-miterlimit="10" d="M210.147,722.475
        c3.2-5.3,7.5-10.9,12.2-15.101c-2.1,6.101-4.2,12.301-7.2,18C213.447,724.475,211.747,723.475,210.147,722.475L210.147,722.475z"/>
      <path fill="#30327F" stroke="#30327F" stroke-width="0.0938" stroke-miterlimit="10" d="M522.547,720.774c2.9-2.4,7-3.1,10.4-4.7
        c6.5,14.9,13,30.4,18.3,45.7c-3.5,1.1-7,3.6-10.7,3.7C534.646,750.475,528.547,735.675,522.547,720.774L522.547,720.774z"/>
      <path fill="#30327F" stroke="#30327F" stroke-width="0.0938" stroke-miterlimit="10" d="M506.447,726.675
        c3.199-1.801,6.8-3,10.399-3.801c5.4,15.301,11.3,30.5,16.5,45.9c-3.6,1.6-7.3,2.9-11.1,4c-5.7-6.6-10.3-14.4-16.601-20.3
        c2.101,8,6.801,15.5,8.7,23.3c-3.1,1.2-6.2,2.3-9.3,3.5c-6.4-14.7-12.2-30.8-16.9-46.3c3.601-1.2,7.101-2.7,10.601-3.7
        c6.1,6.9,11.1,14.9,17.3,21.6C513.447,742.574,509.547,734.774,506.447,726.675L506.447,726.675z"/>
      <path fill="#30327F" stroke="#30327F" stroke-width="0.0938" stroke-miterlimit="10" d="M288.247,733.074
        c5.5-8.1,17.2-5.1,23.8-0.3c5.6,4.2,4.8,11.9,2.7,17.8c-3.9,0-7.7-1.7-11.4-2.899c0.6-2.5,1.7-4.9,1.2-7.5
        c-0.6-3.5-6.6-3.801-7.3-0.2c-2.6,8.6-5.1,17.2-7.4,25.8c-1.1,3.7,4.2,5.9,6.6,3.4c2-2.4,2.5-5.7,3.5-8.601
        c3.7,0.2,7.2,1.9,10.9,2.7c-1,5.6-2.5,12.5-8.4,14.9c-7.1,2.699-15.8,0.699-21.3-4.5c-4.6-5.2-2.2-12.4-0.4-18.2
        C283.247,748.074,284.147,739.874,288.247,733.074L288.247,733.074z"/>
      <path fill="#30327F" stroke="#30327F" stroke-width="0.0938" stroke-miterlimit="10" d="M472.646,736.475
        c3.7-0.9,7.301-2.3,11.101-2.601c2.8,12.7,6.7,25.101,9,37.801c2.2,15.8-25.7,21.699-30,6.399c-3.3-12-6.101-24.3-9.3-36.399
        c3.3-1.601,7.699-2.9,11.3-2.7c3,12,5.899,24.1,9,36.1c0.8,4.3,8.3,3.2,7.7-1.3C478.947,761.274,474.847,748.874,472.646,736.475
        L472.646,736.475z"/>
      <path fill="#30327F" stroke="#30327F" stroke-width="0.0938" stroke-miterlimit="10" d="M328.247,738.074
        c7.7-2.1,18,0.101,21.6,7.8c2.7,6.801-0.8,14-1.6,20.801c-1.7,7.699-1.9,18.6-10.8,21.6c-7.9,1.6-19.1-0.6-21.7-9.4
        c-1.6-8.199,1.8-16.3,2.9-24.399C319.647,748.175,321.147,739.975,328.247,738.074L328.247,738.074z"/>
      <path fill="#30327F" stroke="#30327F" stroke-width="0.0938" stroke-miterlimit="10" d="M433.947,742.675
        c5.1-1.101,10.5-1.101,15.8-1.7c1.6,16.3,3,32.6,4.3,48.899c-3.6,0.4-7.2,0.9-10.9,0.9c-1.1-11.9-0.399-24.5-2.8-35.9
        c-1.2,12.2-2.7,24.5-4.399,36.7c-2.801,0-6.101,1.3-8.601,0.101c-3.3-10.9-6.7-21.801-9.8-32.7c-0.2,0.1-0.7,0.399-0.9,0.6
        c1.101,11.101,3,22.2,3.5,33.3c-3.399,0.4-6.8,0.7-10.199,0.9c-2.2-16-2.9-32.5-4.601-48.7c5.4-0.6,11.2-1.8,16.3-1.1
        c2.7,8.899,5.4,17.8,7.801,26.7C432.747,762.175,431.747,751.774,433.947,742.675L433.947,742.675z"/>
      <path fill="#30327F" stroke="#30327F" stroke-width="0.0938" stroke-miterlimit="10" d="M356.347,741.975
        c5.3-0.5,10.9,0.6,16.3,1.1c1.1,9.2,1.8,18.4,3.3,27.5l0.8,0.101c2.6-8.801,5.3-17.601,7.9-26.301c5.3-0.5,10.7,0.9,16,0.9
        c-1,16.3-2.7,32.7-4.2,49c-3.5-0.3-7.7,0-10.7-1.4c1.2-12.3,3.2-24.6,4.1-36.899c-3.8,11.899-7.6,24.399-11.2,36.5
        c-2.9,0.3-5.9,0-8.7-0.601c-1.5-12.3-3.1-24.6-4.2-36.899c-2.4,11.399-1.3,24.5-3,36.5c-3.5-0.3-7-0.7-10.5-1
        C353.347,774.274,355.047,758.074,356.347,741.975L356.347,741.975z"/>
      <path fill="#FEFEFE" stroke="#FEFEFE" stroke-width="0.0938" stroke-miterlimit="10" d="M333.347,747.074c2.6-2,6.6,0.4,6,3.7
        c-1.6,8.7-3,17.4-5.2,26c-0.7,3.8-6.7,3.8-7.3-0.1c-0.6-4.7,1.3-9.301,1.9-13.9C330.347,757.574,329.647,751.274,333.347,747.074
        L333.347,747.074z"/>
    </svg>

    <span>Welcome to the new {{title}} website!</span>


  </div>


  <app-pdf-view *ngIf="shPDF">Loading</app-pdf-view>
  <gallery thumbPosition="left" *ngIf="shImg">Loading</gallery>
  <div *ngIf="!shPDF" class="card-container" id="mainContent">

    <a class="card" (click)="togglePDF(true)">
      <svg class="matico" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px"><path d="M0 0h24v24H0z" fill="none"/><path d="M19 3h-1V1h-2v2H8V1H6v2H5c-1.11 0-1.99.9-1.99 2L3 19c0 1.1.89 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm0 16H5V8h14v11zM7 10h5v5H7z"/></svg>

      <span>History / Legacy</span>

      <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg>    </a>

    <a class="card" target="_blank" rel="noopener" href="https://photos.1stmob.com/explore/recent">

      <svg class="matico" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px"><path d="M0 0h24v24H0z" fill="none"/><path d="M22 16V4c0-1.1-.9-2-2-2H8c-1.1 0-2 .9-2 2v12c0 1.1.9 2 2 2h12c1.1 0 2-.9 2-2zm-11-4l2.03 2.71L16 11l4 5H8l3-4zM2 6v14c0 1.1.9 2 2 2h14v-2H4V6H2z"/></svg>
      <span>Pictures</span>

      <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg>
    </a>

  </div>





  <!-- Footer -->
  <footer *ngIf="!shPDF" class="align-bottom">
    Site proudly sponsored by <a href="https://jmzsoft.com" target="_blank">Jmz Software</a> &copy; {{year}}

    <br />
    Developed and Maintained by Bret Zamzow

  </footer>

</div>



<router-outlet></router-outlet>
